# Dictionary Data Structure
### by <a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
#Objectives

# Describe, Create and access a dictionary data structures
# Use built in methods to modify and copy dictionaries
# Iterate over dictionaries using loops and dictionary comprehension
# Compare and contrast dictionaries and lists.

## Limitations of Lists

In [ ]:
# items = ['Rohit', 25, India, no, 5.7]

# with lists, we cannot tell what are those items represent. This is solved in dictionary

In [ ]:
#       population
#           person1
#              name : Rohit
#              age : 25
#              address : India
#              isMarried : no
#              height : 5' 6
#           person2
#              name : John
#              age : 35
#              address : USA
#              isMarried : yes
#              height : 6'0

## Dictionary Introduction

In [ ]:
# A data structure that consists of key-value pairs
# We use the keys to describe our data and the values to represent the data

In [ ]:
# Our First Dictionary

person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7
}

# keys and values separated by a colon(":")
# Keys are almost always Numbers or Strings
# Keys should be immutable
# Values can be anything

In [8]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
}

In [3]:
person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7}

In [4]:
print(type(person))

<class 'dict'>

In [5]:
# Another approach is to use dict() function.
# you assign values to keys by passing in keys and values separated by "="

newPerson = dict(name="Rohit", age=25, address="India", isMarried=False, height=5.7)

In [6]:
newPerson

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7}

In [9]:
print(type(newPerson))

<class 'dict'>

In [ ]:
#if you notice, in dict() function our keys are the local variables.
# but in the first version, our keys are String.

In [10]:
newPerson = dict("name"="Rohit", age=25, address="India", isMarried=False, height=5.7)

SyntaxError: keyword can't be an expression (<ipython-input-10-79b416b04de2>, line 1)

## Accessing Individual Values

In [16]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [12]:
person['name']

'Rohit'

In [13]:
person[46]

'We can also use number as key'

In [14]:
person['isMarried']

False

In [15]:
person["weight"]

KeyError: 'weight'

In [17]:
newPerson = dict(name="Rohit", age=25, address="India", isMarried=False, height=5.7, 46="test")

SyntaxError: keyword can't be an expression (<ipython-input-17-b45ef733334f>, line 1)

## Let's Get All the Values

In [18]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [19]:
print(person["name"])
print(person["age"])
print(person["address"])
print(person["isMarried"])
print(person["height"])
print(person[46])

Rohit
25
India
False
5.7
We can also use number as key

## Accessing All Values in a Dictionary

In [20]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [21]:
#values() method

person.values()

dict_values(['Rohit', 25, 'India', False, 5.7, 'We can also use number as key'])

In [22]:
print( type(person.values()) )

<class 'dict_values'>

In [23]:
#keys method

person.keys()

dict_keys(['name', 'age', 'address', 'isMarried', 'height', 46])

In [24]:
print( type(person.keys()) )

<class 'dict_keys'>

In [25]:
#items() method

person.items()

dict_items([('name', 'Rohit'), ('age', 25), ('address', 'India'), ('isMarried', False), ('height', 5.7), (46, 'We can also use number as key')])

In [26]:
print( type(person.items()) )

<class 'dict_items'>

In [27]:
for value in person.values():
    print(value)

Rohit
25
India
False
5.7
We can also use number as key

In [28]:
for key in person.keys():
    print(key)

name
age
address
isMarried
height
46

In [29]:
for item in person.items():
    print(item)
    
#if you are curious dict.items() returns a list of tuples. I discussed tuples in next video.
# Please Check the Python Programming Playlist

('name', 'Rohit')
('age', 25)
('address', 'India')
('isMarried', False)
('height', 5.7)
(46, 'We can also use number as key')

In [30]:
for key, value in person.items():
    print(f"Key is {key}, Value is {value}")

Key is name, Value is Rohit
Key is age, Value is 25
Key is address, Value is India
Key is isMarried, Value is False
Key is height, Value is 5.7
Key is 46, Value is We can also use number as key

## Does a Dictionary have a Key ?

In [ ]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [31]:
person["weight"] # gives error if you give key which is not there

KeyError: 'weight'

In [32]:
"name" in person

True

In [33]:
"weight" in person.keys()

False

In [34]:
if person["name"]:
    print("Key Found")

Key Found

In [35]:
if person["weight"]:
    print("Key Found")

KeyError: 'weight'

In [36]:
if "weight" in person:
    print("Key Found")
else:
    print("Key Not Found")

Key Not Found

## Does a Dictionary have a Value ?

In [37]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [38]:
"Rohit" in person.values()

True

In [39]:
True in person.values()

False

## Dictionary Methods

In [ ]:
# clear() - clears all the keys and values in a dictionary

In [40]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [41]:
print( person )

{'name': 'Rohit', 'age': 25, 'address': 'India', 'isMarried': False, 'height': 5.7, 46: 'We can also use number as key'}

In [42]:
person.clear()

In [43]:
print( person )

{}

In [ ]:
# copy() - makes a copy of a dictionary

In [44]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [45]:
print( person )

{'name': 'Rohit', 'age': 25, 'address': 'India', 'isMarried': False, 'height': 5.7, 46: 'We can also use number as key'}

In [46]:
person_copy = person.copy()

In [47]:
print( person_copy )

{'name': 'Rohit', 'age': 25, 'address': 'India', 'isMarried': False, 'height': 5.7, 46: 'We can also use number as key'}

In [48]:
id(person)

2469732085576

In [49]:
id(person_copy)

2469732077464

In [50]:
person == person_copy

True

In [51]:
person is person_copy

False

In [ ]:
# fromkeys() - creates key-value pairs from comma separated values

In [52]:
{}.fromkeys("name","wonkycode")

{'n': 'wonkycode', 'a': 'wonkycode', 'm': 'wonkycode', 'e': 'wonkycode'}

In [53]:
{}.fromkeys(["email"], "abc@gmail.com")

{'email': 'abc@gmail.com'}

In [54]:
{}.fromkeys("a", [1,2,3,4,5])

{'a': [1, 2, 3, 4, 5]}

In [55]:
{}.fromkeys(["email","name","age"], ["abc@gmail.com","bcd@gmail.com","hjf@gmail.com"])

{'email': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com'],
 'name': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com'],
 'age': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com']}

In [58]:
new_dic = {}.fromkeys(["email","name","age"], ["abc@gmail.com","bcd@gmail.com","hjf@gmail.com"])

In [59]:
new_dic

{'email': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com'],
 'name': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com'],
 'age': ['abc@gmail.com', 'bcd@gmail.com', 'hjf@gmail.com']}

In [60]:
{}.fromkeys(range(1,7), 'unknown')

{1: 'unknown',
 2: 'unknown',
 3: 'unknown',
 4: 'unknown',
 5: 'unknown',
 6: 'unknown'}

In [ ]:
# get() - retrieve a key in an object and return None insead of a KeyError if the key does
#         not exist.

In [61]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [62]:
person["name"]

'Rohit'

In [63]:
person.get("name")

'Rohit'

In [64]:
person["weight"]

KeyError: 'weight'

In [65]:
print( person.get("weight") )

None

In [ ]:
# pop() - takes a single argument corresponding to a key removes that key-value pair from the
#         dictionary. Returns the value corresponding to the key that was removed

In [66]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [67]:
person.pop()

TypeError: pop expected at least 1 arguments, got 0

In [68]:
person.pop("name")

'Rohit'

In [69]:
person

{'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [70]:
person.pop("weight")

KeyError: 'weight'

In [ ]:
# popitem() - removes a random key in a dictionary

In [71]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [72]:
person.popitem()

(46, 'We can also use number as key')

In [73]:
person.popitem("name")

TypeError: popitem() takes no arguments (1 given)

In [74]:
person.clear()

In [75]:
person

{}

In [76]:
person.popitem()

KeyError: 'popitem(): dictionary is empty'

In [ ]:
# update() - update keys and values in a dictionary with number set of key value pairs

In [77]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    46 : "We can also use number as key"
}

In [78]:
new_person = {}

In [79]:
new_person.update(person)

In [80]:
new_person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [81]:
new_person["name"] = "wonkycode"

In [82]:
new_person

{'name': 'wonkycode',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [83]:
person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [84]:
new_person.update(person)

In [85]:
new_person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [86]:
new_person.update({})

In [87]:
new_person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 46: 'We can also use number as key'}

In [ ]:
# setdefault() - Insert key with a value of default if key is not in the dictionary.

In [88]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
}

In [89]:
person.setdefault("weight", 60)

60

In [90]:
person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 'weight': 60}

In [91]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
    "weight" : 55
}

In [ ]:
person

In [92]:
person.setdefault("weight", 60)

55

In [93]:
person

{'name': 'Rohit',
 'age': 25,
 'address': 'India',
 'isMarried': False,
 'height': 5.7,
 'weight': 55}

## Dictionary Comprehension

In [ ]:
#syntax
#
#     { key:value for item in iterable }
#

In [ ]:
#Iterates over keys by default
#To iterate over keys and values using .items()

In [94]:
numbers = dict(first=1, second=2, third=3)

In [95]:
sq_no = {key:value**2 for key, value in numbers.items()}

In [96]:
print(sq_no)

{'first': 1, 'second': 4, 'third': 9}

In [97]:
{num:num**2 for num in [1,2,3,4,5]}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [98]:
str1 = 'ABC'
str2 = '123'

In [99]:
combo = {str1[i]:str2[i] for i in range(0, len(str1))}

In [100]:
print(combo)

{'A': '1', 'B': '2', 'C': '3'}

In [101]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7,
}

In [102]:
new_person = {k.upper():v.upper() for k,v in person.items()}

AttributeError: 'int' object has no attribute 'upper'

In [103]:
person = {
    "name" : "Rohit",
    "age" : "25",
    "address" : "India",
    "isMarried" : "False",
    "height" : "5.7",
}

In [104]:
new_person = {k.upper():v.upper() for k,v in person.items()}

In [105]:
new_person

{'NAME': 'ROHIT',
 'AGE': '25',
 'ADDRESS': 'INDIA',
 'ISMARRIED': 'FALSE',
 'HEIGHT': '5.7'}

## Conditional Logic with Dictionaries

In [106]:
numList = [1,2,3,4,5]

In [107]:
{num : ("even" if num%2 == 0 else "odd") for num in numList}

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd'}

In [108]:
{num : ("even" if num%2 == 0 else "odd") for num in range(1,10)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [109]:
person = {
    "name" : "Rohit",
    "age" : "25",
    "address" : "India",
    "isMarried" : "False",
    "height" : "5.7",
}

In [110]:
new_person = {(k.upper() if k is 'name' else k) : v.upper() for k,v in person.items()}

In [111]:
print(new_person)

{'NAME': 'ROHIT', 'age': '25', 'address': 'INDIA', 'isMarried': 'FALSE', 'height': '5.7'}

In [112]:
new_person = {(k.upper() if k is 'name' else k) : v.upper() if v is 'India' else v for k,v in person.items()}

In [113]:
print(new_person)

{'NAME': 'Rohit', 'age': '25', 'address': 'INDIA', 'isMarried': 'False', 'height': '5.7'}

<h3 style="color:green">Useful Links:</h3>
<a href="https://docs.python.org/3/tutorial/datastructures.html">https://docs.python.org/3/tutorial/datastructures.html</a><br>
<a href="https://www.programiz.com/python-programming/methods/dictionary">https://www.programiz.com/python-programming/methods/dictionary</a>