# Tuple Data Structure
### An ordered collection or grouping of items
### by <a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
# syntax
#
#       my_tuple = (item1, item2, .....)
#

## Immutable ?

In [1]:
# Tuples are immutable - can nerver be changed

x = (1, 2, 3)

In [2]:
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [3]:
items = ('a', 'b', 'c', 'd')

In [4]:
items

('a', 'b', 'c', 'd')

In [5]:
type(items)

tuple

In [6]:
items.append('e') # tuples does not support any manipulation methods since it is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
items[0] = 'A'

TypeError: 'tuple' object does not support item assignment

## Why use a Tuple ?

In [12]:
# Tuples are faster than Lists
# It makes your code safer
# Valid keys in a Dictionary
# Assures integrity

## Creating / Accessing a Tuple

In [13]:
# create using ' () ' or the tuple() function
# accessing is just like a List

In [8]:
my_tuple = (1,2,3,4,5)

In [9]:
my_tuple[1]

2

In [10]:
my_tuple[3]

4

In [12]:
my_tuple[-1]

5

In [13]:
my_tuple[-3]

3

In [14]:
my_tuple = tuple(['a','b','c','d','e'])

In [15]:
my_tuple[0]

'a'

In [16]:
my_tuple[-2]

'd'

In [27]:
my_tuple = 1,2,3,4,5 #tuple can also be created without paranthesis

In [28]:
my_tuple

(1, 2, 3, 4, 5)

In [31]:
my_tuple = ("rohit") #you can't create single item tuple unless you have comma at the end.
                     # otherwise it will be str instead of tuple

In [32]:
type(my_tuple)

str

In [19]:
my_tuple = (2)     # Eg. (2+3) * (7/2)

In [20]:
type(my_tuple)

int

In [33]:
my_tuple = ("rohit",) #but when creating a single item tuple, make sure you have comma at the end

In [34]:
type(my_tuple)

tuple

In [1]:
# a dictionary can contain tuples as keys

In [21]:
# assume those tuples as geographical coordinate values
locations = {
    (45.7897, 87.121664) : "Delhi",
    (54.7897, 98.121664) : "Mumbai",
    (21.7897, 64.121664) : "Hyderabad"
}

In [22]:
locations[(54.7897, 98.121664)]

'Mumbai'

In [23]:
locs = {
    [36.45, 78.64] : "Bangalore"
}

TypeError: unhashable type: 'list'

In [5]:
person = {
    "name" : "Rohit",
    "age" : 25,
    "address" : "India",
    "isMarried" : False,
    "height" : 5.7
}

In [6]:
type(person)

dict

In [62]:
person.items() # here dict_items also contains tuples

dict_items([('name', 'Rohit'), ('age', 25), ('address', 'India'), ('isMarried', False), ('height', 5.7)])

## Slicing

In [24]:
names = ("Ram", "Krishna", "Arjun", "Abhimanyu")

In [25]:
names[1:4]

('Krishna', 'Arjun', 'Abhimanyu')

In [26]:
names[0:len(names):2]

('Ram', 'Arjun')

In [27]:
names[ : : -1]

('Abhimanyu', 'Arjun', 'Krishna', 'Ram')

## Check for a Value in Tuple

In [28]:
my_tuple = (1,2,3,4,5)

In [29]:
2 in my_tuple

True

In [30]:
8 in my_tuple

False

In [31]:
8 not in my_tuple

True

## Looping

In [32]:
# we can use a for loop to iterate over a tuple just like a list

names = ("Ram", "Krishna", "Arjun", "Abhimanyu")

In [33]:
for name in names:
    print(name)

Ram
Krishna
Arjun
Abhimanyu

In [34]:
i = len(names) - 1

while i>=0:
    print(names[i])
    i-=1

Abhimanyu
Arjun
Krishna
Ram

## Tuple Methods
#### There are only two methods

In [13]:
# count() - return the no of times a value appeared in a tuple

In [35]:
names = ("Ram", "Krishna", "Arjun", "Abhimanyu", "Ram", "Ram", "Arjun")

In [36]:
names.count("Ram")

3

In [17]:
names.count("Abhimanyu")

1

In [18]:
names.count("Laxman")

0

In [19]:
# index() = returns the index of an input value

In [20]:
names = ("Ram", "Krishna", "Arjun", "Abhimanyu", "Ram", "Ram", "Arjun")

In [21]:
names.index("Arjun")

2

In [37]:
names.index("Laxman")

ValueError: tuple.index(x): x not in tuple

In [26]:
names.index("Arjun", 2, len(names))

2

In [25]:
names.index("Arjun", 3, len(names))

6

In [38]:
names

('Ram', 'Krishna', 'Arjun', 'Abhimanyu', 'Ram', 'Ram', 'Arjun')

In [39]:
                # since there is no clear or remove method for tuple, 
del names       #we can use del keyword to remove names variable itself from memory

In [40]:
names

NameError: name 'names' is not defined

## Tuple Unpacking

In [1]:
a,b,c,*other = (1,2,3,4,5,6,7,8)

In [2]:
print(a)
print(b)
print(c)
print(other)

1
2
3
[4, 5, 6, 7, 8]

<h3 style="color:green">Useful Links:</h3>
<a href="https://docs.python.org/3/tutorial/datastructures.html">https://docs.python.org/3/tutorial/datastructures.html</a><br>
<a href="https://www.programiz.com/python-programming/tuple">https://www.programiz.com/python-programming/tuple</a> <br>
<a href="https://discuss.python.org/t/why-no-tuple-comprehension/2820/2">https://discuss.python.org/t/why-no-tuple-comprehension/2820/2</a><br>
<a href="https://stackoverflow.com/questions/16940293/why-is-there-no-tuple-comprehension-in-python">https://stackoverflow.com/questions/16940293/why-is-there-no-tuple-comprehension-in-python</a>