# Set Data Structure
### by <a href='https://www.youtube.com/wonkyCode'>WonkyCode</a>

In [1]:
# A set is an unordered collection of items.
# Every set element is unique (no duplicates) and must be immutable (cannot be changed).
# However, a set itself is mutable. We can add or remove items from it.
# You cannot access items in a set by index.
# Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [ ]:
#Syntax
#
#    variable = { item1, item2, ..... }
#

## Creating Sets

In [1]:
s = {1, 2, 3 , 4, 5}

In [2]:
s

{1, 2, 3, 4, 5}

In [4]:
type(s)

set

In [7]:
myset = {1, 2, 3, 3, 3, 4, 5, 5, 5} # duplicates will be ignored

In [8]:
myset

{1, 2, 3, 4, 5}

In [3]:
myset = {1,2,"Rohit",(1,2,3)}

In [4]:
myset

{(1, 2, 3), 1, 2, 'Rohit'}

In [11]:
myset = {1,2,"Rohit",[1,2,3]} # list not allowed as item... #it takes only immutables as items

TypeError: unhashable type: 'list'

In [12]:
myset = {1,2,"Rohit",{1,2,3}} # set is not allowed as item

TypeError: unhashable type: 'set'

In [14]:
myset = {1,2,"Rohit",{"name":"wonkynerd"}} # dictionary is not allowed as item

TypeError: unhashable type: 'dict'

In [15]:
newset = {}

In [16]:
type(newset)      #to overcome this we have set()

dict

In [17]:
newset = set()

In [19]:
type(newset)

set

In [5]:
newset = set( [1,2,3] )

In [6]:
newset

{1, 2, 3}

In [7]:
newset = set( (1,2, 2,3, 3, 3 ,3, "Rohit") )

In [8]:
newset

{1, 2, 3, 'Rohit'}

In [24]:
newset = set( {1,2,3} )

In [25]:
newset

{1, 2, 3}

In [32]:
newset = set( {"name" : "Rohit", "age":25} )

In [33]:
newset

{'age', 'name'}

In [10]:
newset = set( [1,2,3, [45,89]] )   # mutables (list, dictionary, set) as items are not allowed

TypeError: unhashable type: 'list'

In [11]:
newset = set("wonkycode")

In [12]:
newset

{'c', 'd', 'e', 'k', 'n', 'o', 'w', 'y'}

In [14]:
names = ["Rohit", "wonkycode"]

In [15]:
myset = set(names)       # converting list to set

In [16]:
print(myset)
print(type(myset))

{'wonkycode', 'Rohit'}
<class 'set'>

## Accessing Sets

In [54]:
myset = {1, 2, 3, 3, 3, 4, 5, 5, 5}

In [55]:
for num in myset:
    print(num)

1
2
3
4
5

## Check for a value in Set

In [56]:
4 in myset

True

In [57]:
6 not in myset

True

In [58]:
6 in myset

False

## Set Methods

In [59]:
# add() - adds an element to a set. If the element is already in the set,the set ignores

In [60]:
myset = set([1,2,3,4,5])

In [68]:
myset.add(6)

In [62]:
myset

{1, 2, 3, 4, 5, 6}

In [65]:
myset.add(3) #Here 3 will be ignored

In [66]:
myset

{1, 2, 3, 4, 5, 6}

In [69]:
myset.add(7,8)

TypeError: add() takes exactly one argument (2 given)

In [70]:
# update() - The update() method can take tuples, lists, strings or other sets as its argument.
            #In all cases, duplicates are avoided.

In [17]:
myset = set([1,2,3,4,5])

In [72]:
myset.update([10,20])

In [73]:
myset

{1, 2, 3, 4, 5, 10, 20}

In [18]:
myset.update((35,45), {78,65})

In [75]:
myset

{1, 2, 3, 4, 5, 10, 20, 35, 45, 65, 78}

In [76]:
myset.update((35,45,["Rohit"]), {78,65})

TypeError: unhashable type: 'list'

In [77]:
# remove() - Remove an element from a set; it must be a member.
#            If the element is not a member, raise a KeyError.

In [19]:
myset = set([1,2,3,4,5])

In [20]:
myset.remove(3)

In [80]:
myset

{1, 2, 4, 5}

In [82]:
myset.remove(4,5)

TypeError: remove() takes exactly one argument (2 given)

In [83]:
myset.remove(10)

KeyError: 10

In [84]:
# discard() - Remove an element from a set if it is a member.
#             If the element is not a member, do nothing.

In [85]:
myset = set([1,2,3,4,5])

In [86]:
myset.discard(3)

In [87]:
myset

{1, 2, 4, 5}

In [21]:
myset.discard(10)

In [22]:
myset

{1, 2, 4, 5}

In [23]:
myset.discard(1,2)

TypeError: discard() takes exactly one argument (2 given)

In [92]:
# pop() - Remove and return an arbitrary set element.
#         Raises KeyError if the set is empty.

In [98]:
myset = set([1,2,3,4,5])

In [99]:
myset

{1, 2, 3, 4, 5}

In [27]:
myset.pop()

2

In [26]:
myset.pop(3)

TypeError: pop() takes no arguments (1 given)

In [28]:
myset

{4, 5}

In [29]:
myset = set()

In [30]:
myset.pop()

KeyError: 'pop from an empty set'

In [109]:
# clear() - Remove all elements from this set.

In [31]:
myset = set([1,2,3,4,5])

In [32]:
myset.clear()

In [33]:
myset

set()

In [112]:
# copy() -

In [37]:
myset = set([1,2,3,4,5])

In [38]:
myset

{1, 2, 3, 4, 5}

In [39]:
new_set = myset.copy()

In [40]:
new_set

{1, 2, 3, 4, 5}

In [41]:
id(myset)

1952465485384

In [42]:
id(new_set)

1952465484264

In [119]:
myset == new_set

True

In [120]:
myset is new_set

False

## Set Math Methods

In [122]:
# union() - Return the union of sets as a new set (i.e. all elements that are in either set.)

In [128]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [129]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [130]:
print( a | b )   #you can also use pipe operator for union

{1, 2, 3, 4, 5, 6, 7, 8}

In [131]:
# intersection() - Return the intersection of two sets as a new set.
#                  i.e. all elements that are in both sets.

In [44]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [45]:
a.intersection(b)

{4, 5}

In [46]:
print( a & b ) # you can also use ampersand

{4, 5}

In [47]:
a

{1, 2, 3, 4, 5}

In [48]:
b

{4, 5, 6, 7, 8}

In [136]:
# intersection_update - Update a set with the intersection of itself and another.

In [50]:
a.intersection_update(b)

In [51]:
a

{4, 5}

In [52]:
b

{4, 5, 6, 7, 8}

In [146]:
# difference() - Return the difference of two or more sets as a new set.
#                i.e. all elements that are in this set but not the others.

In [53]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [54]:
a.difference(b)

{1, 2, 3}

In [55]:
a

{1, 2, 3, 4, 5}

In [151]:
b

{4, 5, 6, 7, 8}

In [152]:
# difference_update - Remove all elements of another set from this set.

In [56]:
a.difference_update(b)

In [57]:
a

{1, 2, 3}

In [155]:
b

{4, 5, 6, 7, 8}

In [156]:
# symmetric_difference - Return the symmetric difference of two sets as a new set.
#                        i.e. not the common elements.

In [59]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [60]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [61]:
a

{1, 2, 3, 4, 5}

In [62]:
b

{4, 5, 6, 7, 8}

In [159]:
# symmetric_difference_update() - Update a set with the symmetric difference of itself and another.

In [63]:
a.symmetric_difference_update(b)

In [64]:
a

{1, 2, 3, 6, 7, 8}

In [65]:
b

{4, 5, 6, 7, 8}

In [165]:
# isdisjoint() - Returns True if two sets have a null intersection

In [67]:
a = {1,2,3}
b = {4,5,6}

In [68]:
a.isdisjoint(b)

True

In [69]:
b.isdisjoint(a)

True

In [71]:
a = {1,2,3,4}
b = {4,5,6}

In [72]:
print(a.isdisjoint(b))
print(b.isdisjoint(a))

False
False

In [171]:
# issubset() - Report whether another set contains this set.

In [73]:
a = {1,2,3}
b = {1,2,3,4,5}

In [74]:
a.issubset(b)

True

In [75]:
b.issubset(a)

False

In [175]:
# issuperset() - Report whether this set contains another set.

In [176]:
a = {1,2,3}
b = {1,2,3,4,5}

In [76]:
a.issuperset(b)

False

In [178]:
b.issuperset(a)

True

## Built-in-functions

In [179]:
myset = {1,2,3,4,5}

In [180]:
sum(myset)

15

In [185]:
min(myset)

1

In [187]:
max(myset)

5

In [188]:
len(myset)

5

In [77]:
myset = {10,21,42,84,65}

In [78]:
sorted(myset)

[10, 21, 42, 65, 84]

In [194]:
enumerate(myset)     #Returns an enumerate object. 
                    #It contains the index and value for all the items of the set as a pair.

In [195]:
list(enumerate(myset))

[(0, 65), (1, 10), (2, 42), (3, 84), (4, 21)]

In [79]:
myset = {10,21,42,84,65}

In [80]:
all(myset)    # Returns True if all elements of the set are true (or if the set is empty).

True

In [81]:
myset = {10,21,42,84,65,()}

In [82]:
all(myset)

False

In [83]:
myset = {10,21,42,84,65}

In [84]:
any(myset)  #Returns True if any element of the set is true. If the set is empty, returns False.

True

In [85]:
myset = {10,21,42,84,65,()}

In [211]:
any(myset)

True

## Set Comprehensions

In [212]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [213]:
{char.upper() for char in "wonkycode"}

{'C', 'D', 'E', 'K', 'N', 'O', 'W', 'Y'}

In [86]:
mystr = "This is a String"

In [217]:
{char for char in mystr if char in 'aeiou'}

{'a', 'i'}

In [219]:
len({char for char in mystr if char in 'aeiou'})

2

In [220]:
len({char for char in mystr if char in 'aeiou'}) == 5

False

<h3 style="color:green">Useful Links:</h3>
<a href="https://docs.python.org/3/tutorial/datastructures.html">https://docs.python.org/3/tutorial/datastructures.html</a><br>
<a href="https://www.programiz.com/python-programming/set">https://www.programiz.com/python-programming/set</a>